body {
    background-color: rgb(219, 5, 44)
}

h1 {
    color: rgb(254, 254, 254);
    margin: 20px;
}

#pokemonsuche input,
#pokemonsuche select {
    height: 50px;
    padding: 5px;
    padding-left: 10px;
    margin: 5px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 50px;
}

input {
    background-color: rgb(255, 255, 255);
    width: 400px;
}

select {
    width: 50px;
    text-decoration: underline;

}

#pokeCard {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 15px;
}

.picture {
    height: auto;
    width: 180px;
    background-color: rgb(242, 242, 242);
}

.id {
    padding-left: 10px;
    margin-top: 2px;
}

.name {
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    padding-left: 10px;
    margin-bottom: 5px;
}

.types-container p{
    display: inline-block;
    padding: 3px 20px 3px 20px;
    border-radius: 10px;
    margin: 5px;
    margin-top: 1px;
}

.grass {
    background-color: rgb(156, 204, 80);
}

.poison {
    background-color: rgb(185, 127, 201);
}

.water {
    background-color: rgb(68,147,196);
}
