body {
    background-color: rgb(219, 5, 44)
}

h1 {
    color: rgb(254, 254, 254);
    margin: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

button,
input {
    background-color: rgb(255, 255, 255);
    width: 400px;
}

select {
    width: 50px;
    text-decoration: underline;
}

button:hover {
    background-color: rgb(200, 200, 200);
}

#searchPokemon input,
#searchPokemon select {
    height: 50px;
    padding: 5px;
    padding-left: 10px;
    margin: 5px 5px 5px 10px;
    border: 1px solid black;
    border-radius: 50px;
}

#loadPokemon {
    display: block;
    margin: 20px auto;
    height: 50px;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 50px;
}

#pokedex {
    --cols: 6;
    display: grid;
    grid-template-columns: repeat(var(--cols), 220px);
    gap: 10px;
    justify-content: center;
}

@media (max-width: 1350px) {
    #pokedex {
        --cols: 4;
    }
}

@media (max-width: 900px) {
    #pokedex {
        --cols: 3;
    }
}

@media (max-width: 670px) {
    #pokedex {
        --cols: 2;
    }
}

@media (max-width: 440px) {
    #pokedex {
        --cols: 1;
    }
}

.pokecard {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px black;
}

.pokemonPicture {
    height: auto;
    width: 180px;
    background-color: rgb(242, 242, 242);
}

.pokemonID {
    padding-left: 10px;
    margin-top: 2px;
}

.pokemonName {
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    padding-left: 10px;
    margin-bottom: 5px;
}

.types-container p{
    display: inline-block;
    padding: 3px 20px 3px 20px;
    border-radius: 10px;
    margin: 5px;
    margin-top: 1px;
}

.grass {
    background-color: rgb(156, 204, 80);
}

.poison {
    background-color: rgb(185, 127, 201);
}

.water {
    background-color: rgb(68,147,196);
}

.fire {
    background-color: rgb(253,125,36);
}

.bug {
    background-color: rgb(114,159,63);
}

.flying {
    background: linear-gradient(
        to bottom,
        rgb(61, 200, 239) 50%,
        rgb(190, 185, 184) 50%
    );
}

.normal {
    background-color: rgb(164, 172, 175)
}

.electric {
    background-color: rgb(238, 213, 53);
}

.ground {
    background: linear-gradient(
        to bottom,
        rgb(247, 222, 63) 50%,
        rgb(171, 152, 66) 50%
    );
}

.fairy {
    background-color: rgb(253, 183, 234);
}

.fighting {
    background-color: rgb(213, 103, 35);
}

.psychic {
    background-color: rgb(243, 102, 185);
}

.steel {
    background-color: rgb(158, 183, 184);
}

.ice {
    background-color: rgb(80, 196, 231);
}

.rock {
    background-color: rgb(164, 140, 33);
}

.ghost {
    background-color: rgb(123, 98, 163);
}

.dragon {
    background: linear-gradient(
        to bottom,
        rgb(84 , 164, 207) 50%,
        rgb(241, 110, 87) 50%
    );
}

.dark {
    background-color: rgb(112, 112, 112);
}

/* 
Tag: 1
Klasse: 10
Pseudo: 10
ID: 100
 */